* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1 {
    background-color: #87CEFA;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
}

.container {
    width: 100%;
    height: 90vh;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #4169E1;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #F5F5F5;
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 5px;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    border: none;
    outline: none;
    background: transparent;
}

footer {
    background-color: #87CEFA;
    color: black;
    padding: 20px;
    text-align: center;
}
